#manage-visits.container
  %h1.text-center Manage Visits
  .row
    .col-md-4
      #clients.card
        %h2 Clients
        %hr
        %ul
    .col-md-4
      #visits.card
        %h2 Visits
        %hr
        %ul
    .col-md-4
      #caregivers.card
        %h2 Caregivers
        %hr
        %ul
