.card
  %h2 Tags
  %hr
  - colors = { health: 'danger', environment: 'success', task: 'info' }
  - colors.each do |type, klass|
    %h3= type.to_s.titleize
    .well
      - @tags.send(type).each do |tag|
        %span.label{class: "label-#{klass}"}= tag.name
