$nice-grey: #b2b2b2;

.navbar-brand .fa.fa-plus {
  color: $brand-primary;
}

.card {
  @extend .panel;
  padding: 10px;
}

.quick-look {
  .panel-heading {
    text-align: center;
    padding: 32px 0 12px 0;
    line-height: 48px;
    
    .figure {
      font-size: 64px;
      font-weight: bold;
    }

    .unit {
      font-size: 24px;
    }
  }
}