$nice-gray: #b2b2b2;

.navbar-brand .fa.fa-plus {
  color: $brand-primary;
}

.card {
  @extend .panel;
  padding: 10px 10px 20px 10px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
  }
}

.quick-look {
  .panel-heading {
    text-align: center;
    padding: 32px 0 12px 0;
    line-height: 48px;
    
    .figure {
      font-size: 64px;
      font-weight: bold;
    }

    .unit {
      font-size: 24px;
    }
  }
}

.tag {
  display: inline-block;
  border-radius: 2px;
  padding: 4px;
  background-color: $gray;
  color: white;
  cursor: pointer;
  font-weight: bold;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type='checkbox'] {
    display: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.tag-health.active {
  background-color: $brand-danger;
}

.tag-environment.active {
  background-color: $brand-success;
}

.tag-task.active {
  background-color: $brand-info;
}
