$nice-gray: #b2b2b2;

.navbar-brand .fa.fa-plus {
  color: $brand-primary;
}

main {
  padding-bottom: 40px;
}

.card {
  @extend .panel;
  padding: 10px 10px 20px 10px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
  }
}

.quick-look {
  .panel-heading {
    text-align: center;
    padding: 32px 0 12px 0;
    line-height: 48px;
    
    .figure {
      font-size: 64px;
      font-weight: bold;
    }

    .unit {
      font-size: 24px;
    }
  }
}

.tag {
  @extend .no-highlight;

  display: inline-block;
  border-radius: 2px;
  padding: 4px;
  background-color: $gray;
  color: white;
  cursor: pointer;
  font-weight: bold;

  input[type='checkbox'] {
    display: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.tag-health.active {
  background-color: $brand-danger;
}

.tag-environment.active {
  background-color: $brand-success;
}

.tag-task.active {
  background-color: $brand-info;
}

/* error class */
.error {
  border: 1px solid red;
  background-color: #fcc;
  animation: shake .5s 1;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);} 
  20%, 40%, 60%, 80% {transform: translateX(5px);} 
}

/* rails error class */
.field_with_errors {
  input, select, textarea {
    background-color: lighten($brand-danger, 45%);
  }
}

/* overwrite defaults */
.label {
  font-size: 12px;
  line-height: 24px;
}

/* utility */
.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* schedule */
#schedule table td.seg {
  cursor: cell;

  &.active {
    background-color: $brand-primary;
  }
}