%nav.navbar.navbar-default
  .container
    .navbar-header
      = button_tag type: 'button', class: 'navbar-toggle collapsed', data: { toggle: 'collapse', target: '#navbar-links' } do
        %span.sr-only Toggle navigation
        - 3.times do
          %i.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag image_path('logo.png'), style: 'display: inline; width: 32px;'
        RHC

    #navbar-links.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - navbar_links.each do |name, path, method|
          %li.nav-item
            = link_to name, path, class: 'nav-link', method: (method || :get)
